<div
	class="order-container"
	[ngClass]="{
		'order-container-success': status === 'success',
		'order-container-warning': status === 'warning',
		'order-container-danger': status === 'danger'
	}"
>
	<div
		class="order-header"
		[ngClass]="{
			'order-header-success': status === 'success',
			'order-header-warning': status === 'warning',
			'order-header-danger': status === 'danger'
		}"
	>
		Order #{{ order.id }}
	</div>
	<div class="order-body">
		<div *ngFor="let item of order.items">
			{{ item.quantity }} {{ item.name }}
		</div>
	</div>

	<div class="order-footer">
		<div
			*ngIf="!confirm"
			class="elapsed"
			[ngClass]="{
				'elapsed-success': status === 'success',
				'elapsed-warning': status === 'warning',
				'elapsed-danger': status === 'danger'
			}"
		>
			{{ elapsed | date: 'mm:ss' }}
		</div>
		<div class="complete-container">
			<ng-container *ngIf="confirm">
				Sure?
				<button class="cancel" (click)="confirm = false">
					Cancel
				</button>
			</ng-container>
			<button
				class="complete"
				[ngClass]="{
					'complete-primary': confirm,
					'complete-success': !confirm && status === 'success',
					'complete-warning': !confirm && status === 'warning',
					'complete-danger': !confirm && status === 'danger'
				}"
				(click)="complete()"
			>
				Complete
			</button>
		</div>
	</div>
</div>
