<div
	class="card mb-3"
	[ngClass]="{
		'border-success': status === 'success',
		'border-warning': status === 'warning',
		'border-danger': status === 'danger'
	}"
	style="min-width: 250px;"
>
	<div
		class="card-header"
		[ngClass]="{
			'text-success': status === 'success',
			'text-warning': status === 'warning',
			'text-danger': status === 'danger'
		}"
	>
		Order {{ order.id }}
	</div>
	<div class="card-body text-dark">
		<div class="item" *ngFor="let item of order.items; index as i">
			{{ item.quantity }} {{ item.name }}
		</div>
	</div>

	<div
		class="card-footer d-flex flex-nowrap bg-transparent align-items-center"
	>
		<div
			class="float-left mr-2 elapsed"
			[ngClass]="{
				'text-success': status === 'success',
				'text-warning': status === 'warning',
				'text-danger': status === 'danger'
			}"
		>
			{{ elapsed | date: 'mm:ss' }}
		</div>
		<button
			class="btn ml-auto"
			[ngClass]="{
				'btn-outline-success': status === 'success',
				'btn-outline-warning': status === 'warning',
				'btn-danger': status === 'danger'
			}"
		>
			Complete
		</button>
	</div>
</div>
